#_info {
    /* position: absolute; */
    
    display: flex;
    flex-direction: column;

    /* width: 75%;
    height: 65%; */

    margin: 10% 25px 0px 25px;
    border-radius: 6px;
    background-color: #505050;
    border-bottom: 8px solid rgba(0, 0, 0, 0.35);
    padding: 15px 10px 55% 10px;
    gap: 30px;
}

#name,#id {
    border-radius: 4px;
    border: 2px solid white;
    background-color: #7f80b5;
    
    font-size: 2rem;
    font-family: "Inter",arial;
    text-indent: 9px;

    color: black;
}

#value-name,#value-id {
    color: white;
}

#value-id {
    font-size: 14.4px;
}

#copy {
    background-color: transparent;
    border: none;

    padding-right: 60%;

    color: #14FF00;

    font-size: 25px
}