body {
  background-color: #1E1E1E;
  overflow: none;
}

/*logo*/
.container-logo {
  display: flex;
  flex-flow: wrap column;
  color: white;
  font-size: 5em;
  font-family: 'Bungee Spice',monospace;
  padding: 0rem 3rem 5rem 3rem;
  user-select: none;
}

#logo1,#logo2,#logo3 {
  display: flex;
  margin: 0px;
}

#logo1 {
  color: #FFE600;
}

#logo2 {
  justify-content: center;
  color: #7825FF;
}

#logo3 {
  justify-content: right;
  color: #DCDCDC;
}

/*inputs*/

._Inputs {
  display: flex;
  flex-direction: column;
  left: 5.5rem;
  padding: 0% 20% 0% 20%;
}

#Nickname {
  border-style: none;
  border-radius: 6px;
  border-bottom: 4.5px solid #7000FF;

  text-indent: 8px;
  font-size: 1.8rem;
}

#play {
  font-size: 1.7rem;

  color: white;
  background-color: #7E00FD;

  border: 0.6px solid white;

  line-height: 0.5rem;

  margin-top: 1.3rem;
  user-select: none;
}

/* warn */

#condition {
  font-size:1.3rem;
  font-family: "Inter",arial;
  text-align: center;
  padding: 0% 20% 0% 20%;
}