#_bottomBar {
    position: fixed;
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    
    width: 100%;
    top: 91%;
    padding-top: 12px;
    
    border-top: 1px solid #445A55;
}