#disconnect_p {
    position: absolute;

    width: 80%;
    height: 70px;

    top: 80%;
    left: 8%;

    color: red;

    line-height: 60px;
    text-align: center;

    padding-left: 10px;
    padding-right: 10px;

    border-radius: 26px;
    background-color: #545454;
}