#disconnect_p {
    color: white;
    line-height: 26px;
    text-align: center;
    border-radius: 1rem;
    background-color: #545454;
    font-size: 1.5rem; 
    flex-shrink: 1;
    text-wrap: wrap;
    margin: 0rem 3rem;
}

@media (min-width: 1281px) {
    #disconnect_p {
        margin: 0rem 18rem;
        padding: 0.2rem;
        font-size: 1.5rem;
    }
}