#local-id {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 7.1rem;
    margin: 50% 12%;
}

#send-id {
    border: none;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 5px solid #FF9900;
    color: black;
    font-size: 1.8rem;
    font-weight: 600;
    text-indent: 7px;
    background-color: white;
}

#send {
    border-radius: 20px;
    background-color: #02B3FF;
    border: 2px solid #979797;
    font-size: 19px;
    font-family: "Inter",arial;
    font-weight: 600;
    letter-spacing: 1.3px;
    padding: 0px;
    flex-grow: 1;
}