#root {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

.main_container {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    overflow-y: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}