#buttons {
    display: flex;
    flex-direction: column;
    height: 12.5rem;
    gap: 30px;
    margin: 11rem 4rem;
}

.multiplayer_button {
    display: flex;
    flex: 1;
}

.theme_button {
    background-color: #02B3FF;
    padding: 0px;
    font-family: "Inter",arial;
    font-weight: 600;
    font-size: 23px;
    flex: 1;
    transition: 0.2s;
}

.theme_button:active {
    filter: grayscale(65%);
}

.popup_permission {
    background-color: #3E3E3E;
    display: flex;
    flex: 1;
    flex-flow: wrap column;
    margin: 1rem 0.7rem;
    border-radius: 10px;
    padding: 10px;
    font-family: "Inter",arial;
}

.warn_permission {
    margin: 0px;
    color: white;
    flex: 1;
    font-size: 21px;
    font-weight: bold;
    display: flex;
}

.middle {
    flex: 2;
    flex-flow: wrap column;
    justify-content: center;
}

.area_checklist {
    flex: 1;
    display: flex;
    flex-flow: wrap row;
    gap: 10px;
    margin: 0rem 1rem;
}

.warn_checkbox {
    appearance: none;
    margin: 1rem 0rem;
    width: 2rem;
    height: 2rem;
    border: white solid 3px;
    display: flex;
    place-content: center;
}

.warn_checkbox::before {
    content: "";
    width: 100%;
    height: 100%;
}

.warn_checkbox:checked::before {
    background-image: url("../../public/check.svg");
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: fill;
}

.warn_label {
    margin: 0px;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    font-size: 21px;
    font-weight: bold;
}

#gotIt {
    margin: 1rem 6rem;
}

@media (min-width: 1281px) {
    #buttons {
        margin: 7rem 30rem;
    }
}