#buttons {
    display: flex;
    flex-direction: column;
    height: 12.5rem;
    gap: 74px;
    margin: 11rem 4rem;
}

.multiplayer_button {
    display: flex;
    flex: 1;
}

#invite,#chat {
    background-color: #02B3FF;
    border: 2px solid #979797;
    padding: 0px;
    font-family: "Inter",arial;
    font-weight: 600;
    font-size: 23px;
    flex: 1;
}

@media (min-width: 1281px) {
    #buttons {
        margin: 7rem 30rem;
    }
}