#buttons {
    display: flex;
    flex-direction: column;
    height: 12.5rem;
    gap: 74px;
    padding-top: 55%;
    padding: 55% 50px 0px 50px;
}

.multiplayer_button {
    display: flex;
    flex: 1;
}

#invite,#chat {
    background-color: #02B3FF;
    border: 2px solid #979797;
    padding: 0px;
    font-family: "Inter",arial;
    font-weight: 600;
    font-size: 23px;
    flex: 1;
}