#warn {
    display: flex;
    justify-content: center;
    font-family: "Inter",arial;
    font-size: 24px;
    white-space: nowrap;
    margin-top: 20px;
}

#place_border {
    display: flex;
    flex-direction: row; 
    margin: 20px 40px;
}

.info_scoreboard {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    font-family:"Inter",arial;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

.Span {
    text-align: center;
    font-weight: 600;
}

@media (min-width: 1281px) {
    #warn {
        font-size: 1.5rem;
    }

    #place_border {
        margin: 0rem 29rem;
    }

    .info_scoreboard {
        font-size: 1.3rem;
    }
}