#_topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #445A55;
    padding-top: 5px;
}

#NamePage {
    position: relative;

    font-size: 24px;
    font-family: "Inter",arial;
    font-weight: 500;
}