#_topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #445A55;
    padding-top: 5px;
    flex-shrink: 1;
}

#NamePage {
    position: relative;

    font-size: 24px;
    font-family: "Inter",arial;
    font-weight: 500;
}

@media (min-width: 1281px) {
    #_topBar {
        margin: 0rem 30rem;
    }

    #arrow {
        width: 3rem;
        height: 3rem;
    }

    #NamePage {
        font-size: 1.8rem;
    }
}