#_topBar {
    display: flex;

    flex-direction: row;
    justify-content: space-around;
    
    width: 100%;

    top: 0.5%;

    border-bottom: 1px solid #445A55;
}

#NamePage {
    position: relative;

    font-size: 24px;
    font-family: "Inter",arial;
    font-weight: 500;
}